body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-image:linear-gradient(rgba(0, 0, 0, 0.685),rgba(0,0,0,0.35)), url(./hsmm.jpg);
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
  color: aliceblue;
}

h2 {
  margin: 0;
  margin-bottom: .5rem;
  color: aliceblue;

}

h3 {
  margin: 0;
  margin-bottom: .5rem;
  color: aliceblue;


}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select {
  margin-left: .5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}